{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
{{ $author := index .Site.Data.authors (.Params.author | default "default") }}
<div class="flex">
  {{ with $author.image }}
  {{ $authorImage := resources.Get . }}
  {{ if $authorImage }}
  {{ $authorImage := $authorImage.Fill "192x192" }}
  <img
    class="w-24 h-24 !mt-0 !mb-0 ltr:mr-4 rtl:ml-4 rounded-full"
    width="96"
    height="96"
    alt="Author"
    src="{{ $authorImage.RelPermalink }}"
  />
  {{ end }}
  {{ end }}
  <div class="place-self-center">
    {{ with $author.name | markdownify | emojify }}
    <div class="text-[0.6rem] leading-3 text-neutral-500 dark:text-neutral-400 uppercase">
      {{ . }}
    </div>
    <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
      {{ . }}
    </div>
    {{ end }}
    {{ with $author.bio | markdownify | emojify }}
    <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
    {{ end }}
    <div class="text-2xl sm:text-lg">{{ partial "author-links.html" . }}</div>
  </div>
</div>
{{ end }}
