{{ $lottie := resources.Get (printf "lottie/%s.json" ($.Get 0)) }}
{{ if $lottie }}
<div class="lottie">
  {{ $id := delimit (shuffle (seq 1 9)) "" }}
  <div id="{{ $id }}"></div>
  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", (event) => {
      const ctx = document.getElementById("{{ $id }}");
      lottie.loadAnimation({
        container: ctx,
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: {{ $lottie.RelPermalink }},
      });
    });
  </script>
</div>
{{ else }}
  {{ errorf `[CONGO] Shortcode "lottie" error in "%s": Resource "%s" not found. Check the path is correct or remove the shortcode.` .Page.Path (printf "lottie/%s.json" ($.Get 0)) }}
{{ end }}
